<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationPractice">
    <test name="Automation practice">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="WebUITest.RegistrationTests"/>
            <class name="WebUITest.LoginTests"/>
            <class name="WebUITest.AddToCartTests"/>
        </classes>
    </test>
</suite>
